.wrapper {
  width: 100%;
}

.slugon {
  text-align: center;
  width: 100%;

  background-color: var(--slugon-bg);
  & > h4 {
    color: var(--primary-color) !important;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  margin: auto;
}
.logo {
  text-align: center;
}
.branch {
  width: 134px;
}
.nav {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

///@ search
.search {
  display: flex;
  justify-content: center;
}
.box {
  width: 250px;
  display: flex;
  border-bottom: 1px solid var(--primary-color);
  & > input {
    flex: 1;
    appearance: textfield;
    border: none;
    outline: none;
    padding: 0 10px;
    caret-color: var(--primary-color);
  }
  & > span {
    color: var(--primary-color);
    cursor: pointer;
  }
}

.tool {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
}

.list {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
